<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Departamentos Académicos - AcademicConnect</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://kit.fontawesome.com/a2d9d6bc50.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- Barra superior -->
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logoAC.png') }}" alt="Logo">
      <h1>AcademicConnect</h1>
    </div>
    <nav>
       <div class="profile-icon">
        <img src="{{ url_for('static', filename='images/perfil.png') }}" alt="Perfil" class="profile-img">
      </div>
      <a href="{{ url_for('index') }}">Inicio</a>
      <a href="{{ url_for('calendario') }}">Calendario</a>
      <a href="{{ url_for('horas') }}" class="active">Departamentos</a>
      <i class="fa-solid fa-right-from-bracket"></i>
    </nav>
  </header>

  <!-- Contenido principal -->
  <main class="hours-main">
    <div class="dept-big-card">
      <div class="dept-big-header">
        <img src="{{ url_for('static', filename='images/UPRA.png') }}" 
             alt="UPR Logo" class="dept-big-logo">
        <h3>Departamentos Académicos</h3>
      </div>

      <div class="dept-big-body">
        <!-- Primera fila -->
        <div class="dept-row-images">
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/CCOM.png') }}" alt="CCOM">
            <span>CCOM</span>
          </div>
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/GTEC.png') }}" alt="GTEC">
            <span>GTEC</span>
          </div>
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/logo_MATE.png') }}" alt="MATE">
            <span>MATE</span>
          </div>
          <!-- <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/ENFE.png') }}" alt="ENFE">
            <span>ENFE</span>
          </div> -->
        </div>

        <!-- Segunda fila -->
        <div class="dept-row-images second-row">
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/logo_ADEM.png') }}" alt="ADEM">
            <span>ADEM</span>
          </div>
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/logo_INGL.png') }}" alt="Inglés">
            <span>Inglés</span>
          </div>
          <!-- <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/Biologia.png') }}" alt="Biología">
            <span>Biología</span>
          </div> -->
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/logo_HUMA.png') }}" alt="Humanidades">
            <span>Humanidades</span>
          </div>
        </div>

        <!-- Tercera fila -->
        <div class="dept-row-images second-row">
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/logo_COMU.png') }}" alt="COMU">
            <span>COMU</span>
          </div>
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/logo_EDFU.png') }}" alt="Educaciones">
            <span>Educaciones</span>
          </div>
          <div class="dept-img-card">
            <img src="{{ url_for('static', filename='images/logo_FISI_QUIM.png') }}" alt="Física y Química">
            <span>Física y Química</span>
          </div>
          
        </div>
      </div>
    </div>
  </main>

  <!-- Pie de página -->
  <div class="footer-logo">
    UPR Arecibo
  </div>
  <footer>
    Copyright - All rights reserved
  </footer>

</body>
</html>
