<!-- templates/superadmin_home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Homepage (super superadmin) - AcademicConnect</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://kit.fontawesome.com/a2d9d6bc50.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Barra superior principal -->
    <header>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logoAC.png') }}" alt="Logo AcademicConnect" class="logo-ac">
        <h1 class="brand-title">AcademicConnect</h1>
      </div>

      <nav>
        <div class="profile-icon">
          <img src="{{ url_for('static', filename='images/perfil.png') }}" alt="Perfil" class="profile-img">
        </div>
        <a href="{{ url_for('superadmin_home') }}" class="nav-link">Inicio</a>
				<a href="{{ url_for('calendario') }}" class="nav-link">Calendario</a>
				<a href="{{ url_for('horas') }}" class="nav-link">Departamentos</a>
        <a href="{{ url_for('login') }}">
          <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout" class="logout-icon">
        </a>
      </nav>

    </header>

  <!-- Contenido -->
  <!-- superadmin_home.html -->
    <main class="superadmin-main">
      <h2>Inicio</h2>
      <h3 class="superadmin-subtitle">Sección de superadministración</h3>
      
      <div class="superadmin-cards">
        
        <!-- Editar Calendario -->
        <a class="superadmin-card" href="{{ url_for('calendario') }}">
          <span class="superadmin-card-title">Modificar calendario académico</span>
          <img src="{{ url_for('static', filename='images/Calendario.png') }}" alt="Calendario">
        </a>
        
        <!-- Crear Cuenta -->
        <!-- <a class="superadmin-card" href="#">
          <span class="superadmin-card-title">Crear cuenta</span>
          <img src="{{ url_for('static', filename='images/Cuenta.png') }}" alt="Cuenta">
        </a> -->
        
        <!-- Editar Cuenta -->
        <a class="superadmin-card" href="{{ url_for('horas') }}">
          <span class="superadmin-card-title">Departamentos</span>
          <img src="{{ url_for('static', filename='images/EditarCuenta.png') }}" alt="Editar cuenta">
        </a>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ url_for('static', filename='images/Arecibo.png') }}" alt="">
      </div>
      <div class="footer-info">
        <a href="https://upra.edu/contactenos/"><p id="location-link"><i class="fa-solid fa-location-dot icon"></i> Carr. 653 Km. 0.8 Sector Las Dunas, Arecibo</p></a>
        <p><i class="fa-solid fa-phone icon"></i> 787-815-0000 / Fax 787-880-4972</p>
      </div>
    </div>
  </footer>
</body>
</html>
