<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil - AcademicConnect</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://kit.fontawesome.com/a2d9d6bc50.js" crossorigin="anonymous"></script>
</head>
<body class="prof-home">

  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logoAC.png') }}" alt="Logo">
      <h1>AcademicConnect</h1>
    </div>
    <nav>
      <div class="profile-icon">
          <a href="{{ url_for('ver_cuenta') }}"><img src="{{ url_for('static', filename='images/perfil.png') }}" alt="Perfil" class="profile-img"></a>
      </div>
      <!-- <a href="{{ url_for('index') }}" class="active">Inicio</a>
      <a href="{{ url_for('calendario') }}">Calendario</a>
      <a href="{{ url_for('horas') }}">Horas de oficina</a>-->
      <a href="{{ url_for('logout') }}">
        <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logo" class="logout-icon">
      </a>
    </nav>
  </header>

  <!-- Contenido principal -->
  <main class="perfil-container">
    <div class="perfil-header">
      <img src="{{ url_for('static', filename='images/perfil.png') }}" alt="Perfil" class="profile-icon" style="height: 25%; width: 25%;">
      <h2>Perfil</h2>
    </div>

    <form class="perfil-form">
      <label>Nombre</label>
      <input type="text" value="Juan" readonly>

      <label>Apellidos</label>
      <input type="text" value="Del Pueblo" readonly>

      <label>Email</label>
      <input type="email" value="juan.delpueblo@upr.edu" readonly>

      <a  href="{{ url_for('index') }}" class="home-btn">Volver a Pagina Principal</a>

    </form>
  </main>

  <!-- Pie -->
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ url_for('static', filename='images/Arecibo.png') }}" alt="">
      </div>
      <div class="footer-info">
        <a href="https://upra.edu/contactenos/"><p id="location-link"><i class="fa-solid fa-location-dot icon"></i> Carr. 653 Km. 0.8 Sector Las Dunas, Arecibo</p></a>
        <p><i class="fa-solid fa-phone icon"></i> 787-815-0000 / Fax 787-880-4972</p>
      </div>
    </div>
  </footer>


</body>
</html>
